/* Reset básico de margens e box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
  }
  
  
  